@mixin transition($time) {
    -webkit-transition: all ease-in-out $time;
            transition: all ease-in-out $time;
}

@mixin transform($value) {
    -webkit-transform: $value;
            transform: $value;
}
